<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <title>Avrist - Invalid policy address uploader</title>
    <link href="content/bootstrap.css" rel="stylesheet" />
    <link href="content/styles.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.1/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/alasql/0.3/alasql.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- <script type="text/javascript" src="content/1.6.1/angular.min.js"></script> -->
    <!-- <script type="text/javascript" src="content/xlsx.full.min.js"></script> -->
    <!-- <script type="text/javascript" src="content/alasql.min.js"></script>-->
    <!-- <script type="text/javascript" src="content/jquery.min.js"></script> -->

    <script type="text/javascript" src="content/app.js"></script> 
    <script type="text/javascript" src="content/papaparse.js"></script>
    <script type="text/javascript" src="content/papaparse.min.js"></script>
    <style type="text/css">
        /* table,td,th{border: 1px solid dimgray; } */
        h4{color: dimgray}   
        .overlay {
        position: fixed; /* fixed - Sit on top of the page content */
        display:none; /* block/none Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0; 
        left: 0;
        right: 0;
        bottom: 300px;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        text-align:center;
        cursor: pointer; /* Add a pointer on hover */
    }  
    </style>
</head>
<body ng-controller="MyController">

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand " href="#/">
                    <img src="content/Images/returnpkg.png" alt="logo" style="width:48px;height:48px;color: blueviolet;">&nbsp;&nbsp;&nbsp;<b>Avrist</b> - Invalid policy address uploader
                </a>
            </div>
        </div>
    </div>
   
   
   <div class="customers view indent">
    <div class="container"> 
        <header>
                <br />               
                <br /><hr>
            <h4>Upload csv file</h4>                    
        </header>
				
    <div>   
        <form class="form-group" enctype="multipart/form-data">          
                <input type="file" value="Upload" placeholder="Seach Excel File" class="alert-info" id="file" onchange="angular.element(this).scope().UploadFile(this.files)" accept=".csv">
                <button class="btn btn-primary" type="submit" value="submit" ng-click="ParseExcelDataAndSave()">Process Data</button>
                <br>
                <button type="button" class="btn btn-success btn-mini" ng-click="saveFile()">
                     <!-- <a ng-href="{{ fileUrl }}" download="Template_Upload.csv"></a> -->
                     Download template
                      </button>
                      <button class="btn btn-primary btn-mini" type="submit" ng-click="RefreshPage()">Reset</button>
              
            </form>
                          
        <!-- <h4>- Result</h4> -->
           <div align="center" class="row">
                <div class="span12">
                        <p><b><span style="color:forestgreen">
                                {{Message}}
                                </span>
                                <span style="color:red">
                                    {{Warning}}
                                    </span></b></p>
                    <table id="MyTable" class="table table-striped table-condensed">                      
							<thead class="btn-primary">
							<tr>
                                <th>Policy Code</th>
                                <th>Letter</th>
                                <th>Return Reason</th>
                                <th>Effective Date</th>
                                <th>Process</th>
							</tr>
							</thead>
							<tbody>
                            </tbody>
                            
						</table>
					<hr>				
                    
                                     
                </div>
                <br>
                <input type="text" id="mstId" value="mstId"/>
                <button id="submitData" class="btn btn-primary" type="submit" value="submit" ng-click="submit()">Submit Data</button>
            </div>
        </div>
    </div>
</div>
  
  
<div id="overlay" class="overlay">
    <br /><br /><br /><br /><br /><img src="content/images/spinner.gif" />&nbsp;&nbsp;Loading
</div>
   

    <div id="footer">
        <div class="navbar navbar-fixed-bottom">
            <div class="navbar-inner footer">
                <div class="container">
                    <footer>
                        <div class="row">
                            <div class="span12">
                                Created by <strong>Avrist - IT Development</strong>
                            </div>
                        </div>
                   </footer>
                </div>
            </div>
        </div>
    </div>  
  

</body>
</html>